*{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: center;
    
}
.nav li{
    display: flex;
    list-style: none;
    margin-top: 20px;
}
.nav{
    display: flex;
    gap: 20px;
}
.logo img{
    margin-right: 400px;
    width: 200px;
    margin-top: 20px;
}
li:hover{
    color: rgb(126, 125, 125);
    cursor:pointer;
}

main>div{
    max-width: 66vw;
    margin: auto;
}


.first{
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-top: 88px;
}
.wp-image{
margin-left:14px ;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-top: 35px;
    width: 1000px;
    margin: auto;
    text-align: center;
}
.download-mac-btn{
    display: flex;
    margin: auto;
    margin-top: 30px;
    font-size: 17px;
    border-style: none;
    background-color: #00b6d1;
    color: white;
    padding: 12px 17px;
    border-radius: 6px;
    font-weight: 680;
}
button:hover{
    cursor: pointer;
    background-color:#01a3bc ;
}
.third{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}
.big{
    font-size: 25px;
}
.small{
    padding-top: 11px;
    font-size: 13px;
}
.third span img{
    width: 80px;
}
.btn{
    font-size: 12px;
    border-style: none;
    background-color: #5cb85c;
    color: white;
    padding: 12px 17px;
    border-radius: 6px;
    font-weight: 680;
    margin-bottom: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    
}
.item{
    background-color: rgba(239, 237, 237, 0.606);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 204px;

}
.item-lang{
    font-weight: 700;
    padding-bottom: 40px;
    padding-top: 20px;
}
.sm{
    font-size: 8px;
    padding: 3px 5px;
}
.sha{
    font-size: 13px;
    padding: 5px;
}

main .four{
    background-color: #222222;
    width: 100vw;
    margin-top: 60px;
    padding-top: 90px;
    padding-bottom:50px ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.email{
    
    background-color: white;
    height: 225px;
    width: 320px;
    border-radius: 13px;
    color: #00b6d1;
    font-size: 22px;
    padding-top: 30px;
}

.email .enter{
    color: black;
    font-size: 15px;
    padding-top:26px;
    padding-bottom: 4px;
}

input{
    width: 250px;
    height: 45px;
    border-color: #cdccccca;
    border-style: solid;
    border-width: 1px;
}

.email div button{
    border-style: none;
    background-color:#00b6d1;
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 255px;
    padding: 12px 0px;
    margin-top: 10px;
    border-radius: 5px;
}

.join{
    color: white;
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 15px;
    
}
.join-sm{
    color: white;
    width: 30vw;
}

.news{
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    gap: 100px;
}

.exe{
    width: 60vw;
    color: white;
    font-size: 25px;
}
.exe p{
    font-size: 15px;
    padding: 10px 0px;
}
.exe a{
    text-decoration: none;
    color: #00b6d1;
}
.foot{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.foot div ul{
    list-style: none;
    font-size: 14px;
    padding: 6px 0px;
    width: 200px;
}
.lang{
    padding-right: 40px;
    
}
.need{
    padding-right: 40px;
}
.user{
    padding-right: 40px;
}
.gen{
    padding-right: 40px;
}
.subs{
    padding-right: 40px;
}
.foot div h2{
    font-size: 16px;
    padding-bottom: 10px;
}
.foot div ul li{
    padding: 3px 0px;
}
.end{
    padding-left: 15px;
    width: 175px;
}
.foot .subs .subscribe{
    border: none;
    background-color: #00b6d1;
    color: white;
    padding: 13px;
    border-radius: 5px;
    margin-top: 10px;
    width :195px;
    font-weight: 500;
}
.copyright .img img{
    width: 170px;
    margin-top: 70px;
    margin-bottom: 15px;
}
.copyright .img ul{
    list-style: none;
    margin-left: 200px;
    margin-bottom: 100px;
}
.right{
    font-size: 12px;
}